<!-- <section class="py-5">
    <div class="container">
        <div class="row flex-center">
            <div class="col-xl-11 col-md-4  col-sm-2 d-flex justify-content-center">


                 <p-galleria #galleria [(value)]="lstBanners" [(activeIndex)]="activeIndex" [numVisible]="5"
                    [showThumbnails]="showThumbnails" [showItemNavigators]="true" [showItemNavigatorsOnHover]="true"
                    [circular]="true" [autoPlay]="true" [transitionInterval]="7000"
                    [containerStyle]="{ 'max-width': '100%' }" [containerClass]="galleriaClass()">
                    <ng-template pTemplate="item" let-item>
                        <img [src]="item.bannerImg"    height="150" 
                        [ngStyle]="{ width: !fullscreen ? '400px' : '1200px', display: 'block' }" />
                    </ng-template> 
                    <ng-template pTemplate="thumbnail" let-item>
                        <div class="grid grid-nogutter justify-content-center">
                            <img [src]="item.bannerImg" height="150"  />
                        </div>
                    </ng-template>
                    <ng-template pTemplate="footer" let-item>
                        <div class="custom-galleria-footer">
                            <button type="button" pButton icon="pi pi-list" (click)="onThumbnailButtonClick()">
                            </button>
                            <span *ngIf="lstBanners" class="title-container">
                                <span>{{ activeIndex + 1 }}/{{ lstBanners.length }}</span>
                                <span class="title">
                                    {{lang=='en' ? lstBanners[activeIndex].name:lstBanners[activeIndex].nameAr}}
                                </span>
                                <span>{{ lstBanners[activeIndex].name }}</span>
                            </span>
                            <button type="button" pButton [icon]="fullScreenIcon()" (click)="toggleFullScreen()"
                                class="fullscreen-button">
                            </button>
                        </div>
                    </ng-template>
                </p-galleria>
           
           

           
            </div>
        </div>
    </div>
</section> -->




<section class="py-5">
    <div class="container">
        <div class="row flex-center">
        <p-galleria #galleria [(value)]="lstBanners" [(activeIndex)]="activeIndex" [numVisible]="5"
            [showThumbnails]="showThumbnails" [showItemNavigators]="true" [showItemNavigatorsOnHover]="true"
            [circular]="true" [autoPlay]="true" [transitionInterval]="7000" [containerClass]="galleriaClass()">
            <ng-template pTemplate="item" let-item>
                <img [src]="item.bannerImg" [alt]="item.bannerImg" class="full-width">
            </ng-template>
            <ng-template pTemplate="thumbnail" let-item>
                <div class="grid grid-nogutter justify-content-center">
                    <img [src]="item.bannerImg" height="150" />
                </div>
            </ng-template>
            <ng-template pTemplate="footer" let-item>
                <div class="custom-galleria-footer">
                    <button type="button" pButton icon="pi pi-list" (click)="onThumbnailButtonClick()">
                    </button>
                    <span *ngIf="lstBanners" class="title-container">
                        <span>{{ activeIndex + 1 }}/{{ lstBanners.length }}</span>
                        <span class="title">
                            {{lang=='en' ? lstBanners[activeIndex].name:lstBanners[activeIndex].nameAr}}
                        </span>
                        <span>{{ lstBanners[activeIndex].name }}</span>
                    </span>
                    <button type="button" pButton [icon]="fullScreenIcon()" (click)="toggleFullScreen()"
                        class="fullscreen-button">
                    </button>
                </div>
            </ng-template>
        </p-galleria>
        </div>
    </div>
</section>