.language-switcher {
    margin-right: 5px;
  }
  
  .btn-sm {
    padding: 0.25rem 0.3rem;
  } 
  .btn-xs {
    padding: 0.2rem 0.2rem;
  }
  .navbar-toggler {
    display: block; /* Make sure it's not set to 'none' */
}

