.btn-outline-info1 {
    border-color: #6046af;
    color: #6046af;
    background-color: transparent;

    &:hover {
        border-color: #6046af;
        color: #fff;
        background-color: #6046af;
    }
}