
        <div class="card">
            <!-- <div class="card-body"> -->
                <div class="row">
                    <div class="col-md-6 col-12">
                        <label for="code" [translate]="'DC.Code'">{{'DC.SRNumber' | translate }}
                        </label>
                        <input type="text" id="code" class="form-control" name="code" [(ngModel)]="reqObj.requestCode"
                            #code="ngModel" [value]="0" pTooltip="Request Code" tooltipPosition="bottom" disabled
                            style="font-size: 13px;" />
                    </div>

                    <div class="col-md-6 col-12">
                        <label for="subject" [translate]="'DC.Special'"> {{'DC.Special' | translate}}</label>
                        <select class="form-control" id="specialistId" name="specialistId"
                        [(ngModel)]="reqObj.specialityId" [value]="0">
                        <option value="0">Select One</option>
                        <option *ngFor="let spec of lstSpecialists" [value]="spec.id">
                            {{ lang == "en" ? spec.name : spec.nameAr }}
                        </option>
                    </select>

                    </div>
                </div>
          
                <div class="row">
                    <div class="col-12">
                        <label for="subject" [translate]="'DC.Subject'"> {{'DC.Subject' | translate}}</label>
                        <input id="name" name="requestName" [(ngModel)]="reqObj.subject" class="form-control" required
                            placeholder="{{'DC.Subject' | translate}}" pInputText [ngModelOptions]="{standalone: true}"
                            [disabled]="isDisabled" style="font-size: 13px;">

                    </div>
                </div>
                <div class="col-4" hidden>
                    <label for="requestDate" [translate]="'DC.Date'"> </label>
                    <p-calendar [(ngModel)]="reqObj.requestDate" [ngModelOptions]="{standalone: true}"
                        dateFormat="dd/mm/yy" [yearNavigator]="true" yearRange="1900:2030" [monthNavigator]="true"
                        [disabled]="isDisabled">
                    </p-calendar>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label for="complain" [translate]="'DC.Complain'">complain</label>
                        <textarea class="form-control" id="complain" [(ngModel)]="reqObj.complain" pInputTextarea
                            name="complain" rows="1" [ngModelOptions]="{standalone: true}"
                    [disabled]="isDisabled"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <input type="file" #file multiple placeholder="Choose file"
                            (change)="uploadMultipleFile($event)" style="display:none;" accept=".doc,.docx,.pdf,.jpeg,.jpg,.png,.webp,.jfif,.gif">
                        <button type="button" class="btn btn-outline-info  btn-sm py-1"
                            style="margin-top: 3px;margin-left:2px;" (click)="file.click()" [disabled]="isDisabled">
                            <i class="pi pi-cloud-upload " style="color: #0DAFCA; cursor: pointer;margin: 0px 1px;font-size: 1rem"></i>{{'DC.SelectDocuments'| translate }}
                        </button>                       
                    </div>
                    <div class="col-md-6 col-sm-12" style="color: #f44b51;margin-top: 2px; font-size: 11px;">
                            {{'DC.UploadMany' | translate }} 
                            <br/>
                            {{'DC.ValidFiles' | translate }} 
                    </div>
                    
                  
                </div>
                <div class="row">
                    <div class="col-12">

                        <p-table [value]="lstCreateRequestDocument" dataKey="id" styleClass="p-datatable-striped" >
                            <ng-template pTemplate="header">
                                <tr>
                                    <th style="text-align: inherit;">{{ 'DC.FileName' | translate }}</th>
                                    <th style="text-align: inherit;">{{ 'DC.Title' | translate }}</th>
                                    <th></th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-createRequestDocument let-rowIndex="rowIndex"
                                let-editing="editing">
                                <tr>
                                    <td style="text-align: inherit;">{{createRequestDocument.fileName}}</td>
                                    <td style="text-align: inherit;" [pEditableColumn]="createRequestDocument.title"
                                        pEditableColumnField="title" [pEditableColumnRowIndex]="rowIndex">
                                        <p-cellEditor>
                                            <ng-template pTemplate="input">
                                                <input pInputText [(ngModel)]="createRequestDocument.title"
                                                    [ngModelOptions]="{standalone: true}" />
                                            </ng-template>
                                            <ng-template pTemplate="output">
                                                {{createRequestDocument.title}}
                                            </ng-template>
                                        </p-cellEditor>
                                    </td>
                                    <td style="text-align: inherit;">
                                        <span (click)="removeFileFromObjectArray(rowIndex)"><i
                                                class="pi pi-times-circle" style="color: rgb(123, 9, 9);"></i></span>
                                    </td>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="emptymessage">
                                <tr *ngIf="lstCreateRequestDocument.length == 0">
                                    <td colspan="3" style="color: rgb(102, 97, 23);text-align: inherit;"
                                        [translate]="'DC.NoData'">
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <button (click)="addRequest()" class="btn btn-sm py-2 saveIcon">{{'DC.Save' | translate }}</button>
                    </div>
                </div>
            <!-- </div> -->
        </div>


<p-dialog appendTo="body" modal="true" [(visible)]="errorDisplay" [style]="{width: '350px'}">
    <p-header style="color: rgb(181, 4, 4);"> {{ 'DC.Error' | translate }} </p-header>
    <span style="color: rgb(181, 4, 4);font-weight: bold;"> {{errorMessage}}</span>
</p-dialog>


<p-dialog appendTo="body" modal="true" [(visible)]="display" [style]="{width: '350px'}">
    <ng-template pTemplate="header">
        <h6 [translate]="''" style="color: #04527e;font-weight: bold;font-size: 16pt;">{{ 'DC.Save' | translate }}
        </h6>
    </ng-template>
    <span style="color: green;font-weight: bold;font-size: 12pt;text-align: center;"> {{ 'DC.SavedSuccess' |
        translate }}</span>
    <br />
    <br />
    <button class="btn btn-primary pull-center btn-md"
        style="margin: 0px 5px;background-color: #7fdcfe !important;border-color:#7fdcfe" (click)="closeDialogue()"> {{
        'DC.Close' | translate }}</button>
</p-dialog>