<div [dir]="lang === 'ar' ? 'rtl' : 'ltr'" [ngStyle]="{'text-align': lang === 'en' ? 'left': 'right'}">
    <app-cdmenu></app-cdmenu>
    <section>



        <div class="container">
            <div class="row">
                <div class="col-12 py-5">
                    <h1 class="text-center">{{'DC.Videos' | translate}} - <span
                            class="custom-text-primary">{{specialName}}</span> </h1>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <mat-grid-list [cols]="gridCols" rowHeight="300px" gutterSize="20px">
                    <mat-grid-tile *ngFor="let video of lstSpecialityVideos">
                        <mat-card class="card">
                            <youtube-player [videoId]="video.videoURL" placeholderImageQuality="standard" width="200"
                                height="170" />
                            <mat-card-subtitle class="fs-smaller text-primary me-1">
                                {{ video.date }} - <span> {{lang=='en' ?
                                    video.specialityName:video.specialityNameAr}}</span>
                            </mat-card-subtitle>
                            <mat-card-content>
                                <mat-card-title>
                                    <h5 class="font-base fs-md-0 fs-1 my-1">
                                        {{lang=='en' ? video.title:video.titleAr}}</h5>

                                    <button class="btn btn-info custom-button" (click)="openVideoPopup(video.id)">Open
                                        Video</button>
                                </mat-card-title>
                            </mat-card-content>
                        </mat-card>
                    </mat-grid-tile>
                </mat-grid-list>
            </div>
        </div>
    </section>

    <p-dialog [(visible)]="selectedVideo" [baseZIndex]="50" [header]="videoObj.title" [closable]="true"
        [style]="{ width: '100%' }">
        <youtube-player [videoId]="videoObj.videoURL" width="100%" height="450" placeholderImageQuality="standard" />
    </p-dialog>

    <div class="d-flex justify-content-center mt-5 mb-5">
        <button class="btn btn-outline-dark" (click)="goBack()">{{'DC.Back' | translate}}</button>
        <button *ngIf="isPatient" class="btn btn-outline-dark" (click)="needConsult()">{{'DC.NeedConsult' |
            translate}}</button>
    </div>
    <app-cdfooter></app-cdfooter>
</div>