<div class="container-fluid">
    <div class="row">
        <div class="col bktitles">
            {{ 'DC.Requests' | translate }}
        </div>
        <div class="col d-flex justify-content-end" *ngIf="isPatient">
            <button class="btn btn-outline-info btn-sm" (click)="addRequest()">{{ 'DC.Create' | translate }}</button>
        </div>
    </div>
    <div class="row">
        <div class="card">
            <div class="row">
                <div class="col-12">

                    <button mat-stroked-button name="btnAll" pBadge [value]="countAll"
                        (click)="getRequestsByStatusId(0)" style="margin: 0px 15px;">{{'DC.All'
                        |translate}}</button>

                    <mat-nav-list id="app-nav" aria-label="Status" *ngFor="let sts of lstStatuses">
                       <a mat-list-item class="mat-list-item-test statusbuttonspace" *ngIf="sts.id==1"
                            (click)="getRequestsByStatusId(sts.id)" pBadge [value]="countOpen" mat-stroked-button
                            [ngStyle]="{'color': sts.color}" autofocus>
                            <span mat-line>
                                <span><i [ngClass]="sts.icon"></i></span>
                                {{lang=="en"?sts.name:sts.nameAr}}
                            </span>
                        </a>
                        <a mat-list-item class="statusbuttonspace" *ngIf="sts.id==2"
                            (click)="getRequestsByStatusId(sts.id)" mat-stroked-button [ngStyle]="{'color': sts.color}"
                            pBadge [value]="countInProgress">
                            <span mat-line>
                                <span><i [ngClass]="sts.icon"></i></span>
                                {{lang=="en"?sts.name:sts.nameAr}}
                            </span>
                        </a>
                        <a mat-list-item class="statusbuttonspace" *ngIf="sts.id==3"
                            (click)="getRequestsByStatusId(sts.id)" mat-stroked-button [ngStyle]="{'color': sts.color}"
                            pBadge [value]="countSolved">
                            <span mat-line>
                                <span><i [ngClass]="sts.icon"></i></span>
                                {{lang=="en"?sts.name:sts.nameAr}}
                            </span>
                        </a>
                        <a mat-list-item class="statusbuttonspace" *ngIf="sts.id==4"
                            (click)="getRequestsByStatusId(sts.id)" mat-stroked-button [ngStyle]="{'color': sts.color}"
                            pBadge [value]="countApproved">
                            <span mat-line>
                                <span><i [ngClass]="sts.icon"></i></span>
                                {{lang=="en"?sts.name:sts.nameAr}}
                            </span>
                        </a> 
                        <a mat-list-item class="statusbuttonspace" *ngIf="sts.id==5"
                        (click)="getRequestsByStatusId(sts.id)" mat-stroked-button [ngStyle]="{'color': sts.color}"
                        pBadge [value]="countClosed">
                        <span mat-line>
                            <span><i [ngClass]="sts.icon"></i></span>
                            {{lang=="en"?sts.name:sts.nameAr}}
                        </span>
                    </a>

                    </mat-nav-list>
                </div>
            </div>

            <p-dataView [value]="lstRequests" [rows]="5" [paginator]="true" [sortField]="sortField"
                [sortOrder]="sortOrder">


                <ng-template pTemplate="header">
                    <div class="flex flex-column md:flex-row md:justify-content-between">
                        <p-dropdown [options]="sortOptions" [(ngModel)]="sortKey" placeholder="Sort"
                            (onChange)="onSortChange($event)" styleClass="mb-2 md:mb-0" />
                    </div>
                </ng-template>



                <ng-template let-request pTemplate="listItem">
                    <div class="col-12">
                        <div class="flex flex-column xl:flex-row xl:align-items-start p-4 gap-4">

                            <div
                                class="flex flex-column sm:flex-row justify-content-between align-items-center xl:align-items-start flex-1 gap-4">
                                <div class="flex flex-column align-items-center sm:align-items-start gap-3">
                                    <div class="text-xl font-bold text-900 arttitle">{{request.subject}}
                                    </div>
                                    <div class="flex align-items-center gap-3">
                                        <span class="flex align-items-center gap-2">
                                            <i class="pi pi-fw pi-list"></i>
                                            <span class="font-semibold text-info"> {{lang == 'en'
                                                ?request.specialityName : request.specialityNameAr}}</span>
                                        </span>
                                    </div>


                                    <div class="flex align-items-center gap-3">
                                        <span class="flex align-items-center gap-2">
                                            <i class="pi pi-user"></i>
                                            <span class="font-semibold">{{request.createdBy}}</span>
                                        </span>
                                    </div>
                                    <div class="flex align-items-center gap-3">
                                        <span class="flex align-items-center gap-2">
                                            <i class="pi pi-calendar"></i>
                                            {{'DC.RequestDate' | translate}}
                                            <span class="font-semibold">{{request.requestDate |
                                                date:'dd-MM-yyyy'}}</span>
                                        </span>
                                    </div>

                                    <div class="flex align-items-center gap-3">
                                        <span class="flex align-items-center gap-2">
                                            <i class="pi pi-calendar"></i>
                                            {{'DC.RequestAction' | translate}}
                                            <span class="font-semibold">{{request.actionDate |
                                                date:'dd-MM-yyyy'}}</span>
                                        </span>
                                    </div>


                                    <div class="flex align-items-center gap-3">
                                        <span class="flex align-items-center gap-2">
                                            <span class="font-semibold">{{request.isActive}}</span>
                                        </span>
                                    </div>

                                    <div class="flex align-items-center gap-3">
                                        <span class="flex align-items-center gap-2">
                                            <span class="font-semibold">{{request.requestCode}}</span>
                                        </span>
                                    </div>


                                    <div class="flex align-items-center gap-3">
                                        <span class="flex align-items-center gap-2">
                                            <span [ngStyle]="{'color':request.statusColor}">
                                                <span><i [ngClass]="request.statusIcon"></i></span>
                                                {{lang=="en" ? request.statusName:request.statusNameAr}}
                                            </span>
                                        </span>
                                    </div>
                                </div>
                                <div class="flex sm:flex-column align-items-center sm:align-items-end gap-3 sm:gap-2">



                                    <i class="pi pi-eye viewIcon" (click)="viewRequest(request.id)"
                                        pTooltip="{{'DC.View' | translate}}" tooltipPosition="top"
                                        style="cursor: pointer;"></i>

                                    <i class="pi pi-pen-to-square editIcon" style="cursor: pointer;"
                                        *ngIf="request.statusId == 3 && (isSupervisor || isAdmin)"
                                        (click)="editRequest(request.id)" pTooltip="{{'DC.Edit' | translate}}"
                                        tooltipPosition="top"></i>

                                    <i class="pi pi-user assignIcon"  (click)="assignRequest(request.id)"
                                        pTooltip="{{'DC.Assign' | translate}}" tooltipPosition="top"
                                        *ngIf="request.statusId < 3 && (isSupervisor || isAdmin)"
                                        style="cursor: pointer;"></i>

                                    <!-- *ngIf="request.statusId < 3 && (isDoctor || isSupervisor || isAdmin)" pi-verified-->
                                    <i class="pi pi-reply replyIcon"  *ngIf="request.statusId < 3 && (isDoctor || isSupervisor || isAdmin)" (click)="doctorReply(request.id)"
                                        pTooltip="{{'DC.Reply' | translate}}" tooltipPosition="top"
                                        style="cursor: pointer;"></i>

                                    <i class="pi pi-check verifyIcon"  *ngIf="request.statusId < 4 && (isSupervisor || isAdmin)" pTooltip="{{'DC.Verify' | translate}}"
                                        tooltipPosition="top" (click)="verifyRequest(request.id)"
                                        style="cursor: pointer;"></i>

                                        <i class="pi pi-stop-circle closeIcon" *ngIf="request.statusId < 5 && (isAdmin)"
                                        pTooltip="{{'DC.Close' | translate}}" tooltipPosition="top"
                                        (click)="closeRequest(request.id)" style="cursor: pointer;"></i>




                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </p-dataView>
        </div>
    </div>
</div>
<p-dialog appendTo="body" modal="true" [(visible)]="display" [style]="{width: '500px'}">
    <ng-template pTemplate="header">
        <h6 [translate]="''" style="color: #04527e;font-weight: bold;font-size: 16pt;">{{ 'DC.Save' | translate }}
        </h6>
    </ng-template>
    <span style="color: green;font-weight: bold;font-size: 12pt;text-align: center;"> {{ 'DC.SavedSuccess' |
        translate }}</span>

    <br />
    <button class="btn btn-primary pull-center btn-md"
        style="margin: 0px 5px;background-color: #93d2ec !important;border-color:#7fdcfe" (click)="closeDialogue()"> {{
        'DC.Close' | translate }}</button>
</p-dialog>

<p-confirmDialog [style]="{width: '40vw'}" appendTo="body"></p-confirmDialog>